<%- include('header'); %>


<div class="section container-fluid">
    <h2><%=mainFish.commonName%> (<%=mainFish.scientificName%>)</h2>
    <div class="row">
        <div class="col-12 col-sm-6">
            <img id="fish-detail-img" src="../images/fish/<%=mainFish._id%>.png" alt="">
        </div>
        <div class="col-12 col-sm-6 text-center">
            <h4>Summary</h4>
            <p><%=mainFish.summary%></p>
            <h4>Care and Keeping</h4>
            <ul>
                <li>Adult Size: <%=mainFish.maxSize%></li>
                <li>Diet: <%=mainFish.diet%></li>
                <li>Sociability: <%=mainFish.social%></li>
                <li>Minimum Tank Size: <%=mainFish.tankSize%></li>
                <li>pH: <%=mainFish.pH%></li>
                <li>Temperature: <%=mainFish.temperature%></li>
                
            </ul>
        </div>
    </div>
</div>

<div class="special-section">
    <h2>You Might Also Like</h2>
    <div class="container-fluid d-flex flex-row flex-nowrap overflow-auto pe-5">
        <a href="/fish/<%=fishes[0]._id%>">
            <div class="card m-2 more-fish-cards">
                <img id="fish-image" class="card-img-bottom" src="../images/fish/<%=fishes[0]._id%>.png" alt="Card image cap">
                <p class="fish-name-overlay more-fish-name-overlay"><%=fishes[0].commonName%></p>
                <div class="card-body">
                    <img class="lower-images" id="red-circle" src="../images/red-circle.png" alt="">
                    <img class="lower-images" id="dots" src="../images/more_horiz_FILL0_wght400_GRAD0_opsz48.png" alt="">
                </div>
            </div>
        </a>
        <a href="/fish/<%=fishes[1]._id%>">
            <div class="card m-2 more-fish-cards">
                <img id="fish-image" class="card-img-bottom" src="../images/fish/<%=fishes[1]._id%>.png" alt="Card image cap">
                <p class="fish-name-overlay more-fish-name-overlay"><%=fishes[1].commonName%></p>
                <div class="card-body">
                    <img class="lower-images" id="red-circle" src="../images/red-circle.png" alt="">
                    <img class="lower-images" id="dots" src="../images/more_horiz_FILL0_wght400_GRAD0_opsz48.png" alt="">
                </div>
            </div>
        </a>
        <a href="/fish/<%=fishes[2]._id%>">
            <div class="card m-2 more-fish-cards">
                <img id="fish-image" class="card-img-bottom" src="../images/fish/<%=fishes[2]._id%>.png" alt="Card image cap">
                <p class="fish-name-overlay more-fish-name-overlay"><%=fishes[2].commonName%></p>
                <div class="card-body">
                    <img class="lower-images" id="red-circle" src="../images/red-circle.png" alt="">
                    <img class="lower-images" id="dots" src="../images/more_horiz_FILL0_wght400_GRAD0_opsz48.png" alt="">
                </div>
            </div>
        </a>
        <a href="/fish/<%=fishes[3]._id%>">
            <div class="card m-2 more-fish-cards">
                <img id="fish-image" class="card-img-bottom" src="../images/fish/<%=fishes[3]._id%>.png" alt="Card image cap">
                <p class="fish-name-overlay more-fish-name-overlay"><%=fishes[3].commonName%></p>
                <div class="card-body">
                    <img class="lower-images" id="red-circle" src="../images/red-circle.png" alt="">
                    <img class="lower-images" id="dots" src="../images/more_horiz_FILL0_wght400_GRAD0_opsz48.png" alt="">
                </div>
            </div>
        </a>
        <a href="/fish/<%=fishes[4]._id%>">
            <div class="card m-2 more-fish-cards">
                <img id="fish-image" class="card-img-bottom" src="../images/fish/<%=fishes[4]._id%>.png" alt="Card image cap">
                <p class="fish-name-overlay more-fish-name-overlay"><%=fishes[4].commonName%></p>
                <div class="card-body">
                    <img class="lower-images" id="red-circle" src="../images/red-circle.png" alt="">
                    <img class="lower-images" id="dots" src="../images/more_horiz_FILL0_wght400_GRAD0_opsz48.png" alt="">
                </div>
            </div>
        </a>
    </div>
</div>


<%- include('footer'); %>