<%- include('header'); %>


<div class="section container-fluid">
    <div class="row">
        <% fishes.forEach(function(fish) { %>
            <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="/fish/<%=fish._id%>">
                    <div class="card" style="min-width:18rem;">
                        <img id="fish-image" class="card-img-bottom" src="../images/fish/<%=fish._id%>.png" alt="Card image cap">
                        <p class="fish-name-overlay"><%=fish.commonName%></p>
                        <div class="card-body">
                            <img class="lower-images" id="red-circle" src="images/red-circle.png" alt="">
                            <img class="lower-images" id="dots" src="images/more_horiz_FILL0_wght400_GRAD0_opsz48.png" alt="">
                        </div>
                    </div>
                </a>
            </div>
        <% }); %>
    </div>
</div>



<%- include('footer'); %>