<%- include('header'); %>

<div class="section container-fluid">
    <h3>Search Results</h3>
    <% if (fishes.length != 0) { %>
    <div class="row">
        <% fishes.forEach(function(fish) { %>
            <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="/fish/<%=fish._id%>">
                    <div class="card" style="min-width:18rem;">
                        <img id="fish-image" class="card-img-bottom" src="https://drive.google.com/uc?export=view&id=<%=fish.imagePath%>" alt="Card image cap">
                        <p class="fish-name-overlay">
                            <%=fish.commonName%>
                        </p>
                        <div class="card-body">
                            <img class="lower-images" id="red-circle" src="images/red-circle.png" alt="">
                            <img class="lower-images" id="dots" src="images/more_horiz_FILL0_wght400_GRAD0_opsz48.png"
                                alt="">
                        </div>
                    </div>
                </a>
            </div>
            <% }); %>
    </div>
    <% } else { %>
        <div class="no-results">
            <p>Sorry, looks like there aren't any results for that search. If you'd like a fish added you can reach out to me at the links below and I'll see if I can do that for ya!</p>
        </div>
    <% }; %>
</div>

<%- include('footer'); %>